@font-face {
    font-family: Gilroy-Bold;
    src: url('font/Gilroy-Bold.eot');
    src: url('font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/Gilroy-Bold.woff') format('woff'),
    url('font/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy-Medium;
    src: url('font/Gilroy-Medium.eot');
    src: url('font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/Gilroy-Medium.woff') format('woff'),
    url('font/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body{
    font-family: Gilroy-Medium;

}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header {
    height: 80px;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    border-bottom: 3px solid grey;
    margin-bottom: 40px;
}

.header-item{
    font-family: Gilroy-Bold;
    font-size: 18px;
    text-align: center;
    padding: 1em;
    color: #828282;
}
.header-item:first-child{
    color: black;
}
.main-screen{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.main-info{
    display: flex;
    height: fit-content;
    margin-bottom: 30px;
}
.main-title{
    font-family: Gilroy-Bold;
    font-size: 50px;
    letter-spacing: .06em;
}
.main-subtitle{
    justify-self: center;
    align-self: end;
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto 20px auto;
}
.main-img{
    /*background-image: url("img/1.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    object-fit: cover;
    height: auto;
    width: 100%;
    scale: revert;
}
.about-screen{
    background-color: #F6F6F6;
    height: fit-content;
    padding: 120px 0 107px 0;
    margin-bottom: 61px;
}
.about-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 18px;
}
.about-content{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.skills-screen{
    padding: 30px 1em 100px 1em;
    margin-bottom: 100px;
}
.skills-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 69px;
}
.skills-subtitle{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 70px;
}
.skills-programs{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-card{
    padding: 1em 1em;
    width: 170px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-icon{
    height: 90px;
    width: 90px;
    /*background-color: gray;*/
    margin-bottom: 24px;
    position: center;
}
.card-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}
.star{
    height: 26px;
    width: 26px;
}
.card-title{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 40px;
    color: #828282;
    height: 2em;
}
.portfolio-screen{
    padding-top: 20px;
    height: auto;
}
.portfolio-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 47px;
}
.portfolio-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.portfolio-work{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.work-img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.work-title{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
}